<?xml version="1.0"?>
<settings>

	<!-- Issue metadata file -->
	<metadataProvider file="metadata.xml" />
	<messages file="messages.properties" />

	<!-- Issue persistence. Issues can be stored either in a database or in an XML file. -->
    <!-- Use the following definition for database persistence: -->
	<dataProvider class="com.ataccama.epp.mda.db.DbCacheDataProviderFactory">
	   <delegate class="com.ataccama.epp.internal.core.data.db.DbDataProviderFactory" jndiName="it_db"/>
	</dataProvider>
	
	<!-- Use the following definition for file persistence -->
	<!-- <dataProvider class="com.ataccama.epp.internal.core.data.xml.XmlDataProviderFactory" >
		<fileName>data.xml</fileName>
	</dataProvider> -->

	<!-- Workflow engine in use. -->	
	<workflowEngine class="com.ataccama.epp.workflow.core.XmlWorkflowEngine" fileName="workflows.xml" />
	
	<appName>MDA</appName>
	
	<authFactory class="com.ataccama.auth.keycloak.KeycloakAuthManagerFactory">
		<serverUrl>http://localhost:8083/auth</serverUrl>
		<realm>ataccamaone</realm>
		<clientId>one-service-account</clientId>
		<clientSecret>one-service-account-s3cret</clientSecret>
	</authFactory>
	
	<globalSettings>
		<!-- Enables additional features for sight-impaired people -->
		<accessibleApplication>false</accessibleApplication>
		<!-- Enables additional safe browsing measures, such as anti-frame hijacking, 
		  disables displaying error details in the applications, and login form autocomplete -->
		<safeMode>false</safeMode>
		<!-- Maximum number of tasks kept in history -->
		<maxTaskHistorySize>50</maxTaskHistorySize>
		<!-- Maximum idle time of a task in order to be kept in history even if the history is full -->
		<maxTaskHistoryIdleInMillis>60000</maxTaskHistoryIdleInMillis>
	</globalSettings>


</settings>
